:root {
        --primary: #fffefc;
        --text: #1A1918;
        --text2: #3e3d3b;
        --red: #780000;
        --blue: #003049;
        --light-blue: #669BBC;
        --light-red: #C1121F;
    }

html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

body{
    margin: 0;   
}
a {
    color: var(--text) !important;
    text-decoration: none !important;
    transition: color .1s ease-in-out;
}
a:hover {
    color: var(--light-blue) !important;
    text-decoration: underline;
}

.raleway-reg {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
.raleway-light {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}
.raleway-med {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}
.raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 7000;
}


.jost-reg {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
.jost-light {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
}
.jost-med {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}
.jost-bold {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.poiret-reg {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
